body{
	margin:0px;
}

#sec1{
	background:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,1)),url('https://www.walldevil.com/wallpapers/a92/motherboard-wallpaper-computers-wallpapers.jpg');
	background-size:cover;
	height:90vh;
	width:100vw;
	position:relative;
}

#title{
	font-family: 'Roboto Slab', serif;
	color:white;
	position:relative;
	top:25vh;
}

#subtitle{
	position:relative;
	color:white;
	top:28vh;
}

#sec2{
	text-align:center;
	margin-top:5vh;
	height:50vh;
	width:100vw;
}

#sec2title{
	font-family: 'Indie Flower', cursive;
	margin-bottom:5vh;
}

#sec3{
	background:url('https://i.pinimg.com/originals/20/26/aa/2026aa283ec0cc912f26b07fd9e05f09.jpg');
	text-align:center;
	height:60vh;
	width:100vw;
	background-repeat: no-repeat;
	background-size:cover;
}

#sec3title{
	color:white;
    font-family: 'Courgette', cursive;
    position:relative;
    top:20vh;
}

#bgchange{
    transition:all 2s;
}

#ins{
    transition:all .2s;
}

#ins:hover{
    height:35px;
    width:35px;
}

#twit{
    transition:all .2s;
}

#twit:hover{
    height:35px;
    width:35px;
}

#link{
    transition:all .2s;
}

#link:hover{
    height:35px;
    width:35px;
}

#git{
    transition:all .2s;
}

#git:hover{
    height:35px;
    width:35px;
}

#sec5{
	background:url('https://ak9.picdn.net/shutterstock/videos/11274929/thumb/1.jpg');
	background-size:cover;
	height:70vh;
	width:100vw;
	position:relative;
}

#sec6{
	background:url('http://longwallpapers.com/Desktop-Wallpaper/computer-wallpapers-wide-For-Desktop-Wallpaper.jpg');
	background-size:cover;
	height:70vh;
	width:100vw;
	position:relative;
}

#sec7{
	background:url('http://www.xsjjys.com/data/out/206/WHDQ-513425969.png');
	background-size:cover;
	height:70vh;
	width:100vw;
	position:relative;
}