body{
	margin:0px;
}

#sec1{
	background:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,1)),url('https://ak9.picdn.net/shutterstock/videos/11274929/thumb/1.jpg');
	background-size:cover;
	height:90vh;
	width:100vw;
	position:relative;
}

#bgchange{
    transition:all 2s;
}

#ins{
    transition:all .2s;
}

#ins:hover{
    height:35px;
    width:35px;
}

#twit{
    transition:all .2s;
}

#twit:hover{
    height:35px;
    width:35px;
}

#link{
    transition:all .2s;
}

#link:hover{
    height:35px;
    width:35px;
}

#git{
    transition:all .2s;
}

#git:hover{
    height:35px;
    width:35px;
}