#title{
    color:white;
    font-family: 'Courgette', cursive;
    position:relative;
    top:20vh;
    left:30vh;
}

#sec2{
    text-align:center;
    margin-top:10vh;
    background-size:cover;
    height:90vh;
    width:100vw;
    position:relative;
}

.spacer{
    position:relative; 
    height:25px; 
    width:25px;
}